<!DOCTYPE html>
<html>
    <head>
        <title>IRCTC-Tourism</title>
        <!-- Bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Custom CSS file -->
    <link rel="stylesheet" type="text/css" href="/admin.css">

    
    </head>
<body>
    <!-- Navabar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/sadmin">IRCTC-Tourism</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Update Information
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Photo Gallery</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Information</a>
                          
                        </div>
                      </li>
                <li class="nav-item">
                    <a class="nav-link" href="/removehouse">Support</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/admin">Log Out</a>
                </li>                
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h3>
                    Welcome________________,<br>
                    <small>How's your hotel?</small>
               
                    <br>
                    <br>
                </h3>
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">View Booking</button>
                <div id="demo" class="collapse container" >
                        <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Check-in Date</th>
                                    <th scope="col">Check-out Date</th>
                                    <th scope="col">Reason</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th>Yash Patni</th>
                                    <td>20968736</td>
                                    <td>12/03/1894</td>
                                    <td>45/46/2018</td>
                                    <td>Just for fun</td>
                                    <td>Never</td>
                                    <td>Direct Cancel</td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                  </tr>
                                </tbody>
                              </table>
                              
                              
                </div>

            </div>
            <div id="ratingbox" class="col-lg-4">
                <div id="individualrating">
                    <h4>Name : Darshan Chobarkar</h4>
                    <h5>Rating : 4/5</h5>
                    <p>Comment : Something something</p>
                </div>
                <div id="individualrating">
                        <h4>Name : Darshan Chobarkar</h4>
                        <h5>Rating : 4/5</h5>
                        <p>Comment : Something something</p>
                </div>
                <div id="individualrating">
                        <h4>Name : Darshan Chobarkar</h4>
                        <h5>Rating : 4/5</h5>
                        <p>Comment : Something something</p>
                </div>
                <div id="individualrating">
                        <h4>Name : Darshan Chobarkar</h4>
                        <h5>Rating : 4/5</h5>
                        <p>Comment : Something something</p>
                </div>
                <div id="individualrating">
                        <h4>Name : Darshan Chobarkar</h4>
                        <h5>Rating : 4/5</h5>
                        <p>Comment : Something something</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap js -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    </body>
    </html>
    