<!DOCTYPE html>
<html>
    <head>
        <title>IRCTC-Tourism</title>

        <!-- IRCTC icon -->
        <link rel="icon" type="image/gif" href="/icons/IRCTC.gif" />

        <!-- Bootstrap css -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Custom CSS file -->
        <link rel="stylesheet" type="text/css" href="/user.css">
        <link rel="stylesheet" type="text/css" href="/app.css"> 

    </head>
<<<<<<< HEAD
    <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <!-- <div class="container-fluid">
            <div class="navbar-header"> -->
                <a class="navbar-brand" href="/">IRCTC-Tourism</a>
            <!-- </div> -->
            <<!-- div class="navbar-header"> -->
                <a class="navbar-brand" href="/irctcTourism/search">Resthouses</a>
            <!-- </div> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarContent">
              <ul class="navbar-nav mr-auto">
              </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" id="theme"><a href="#"><span class="glyphicon glyphicon-text-background"></span>Theme</a></li>
                    <li class="nav-item"><a class="nav-link" href="/irctcTourism/myBooking">My Bookings</a></li>                    
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contactIRCTC">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Logout</a></li>
                </ul>
            </div>
        <!-- </div> -->
=======

<body>
    <nav class="navbar navbar-expand-lg navbar-expand-md navbar-fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/">IRCTC-Tourism</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a href="/irctcTourism/search">Resthouses</a></li> 
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" id="theme">
                    <a href="#"><span class="glyphicon glyphicon-text-background"></span>Theme</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="irctcTourism/myBooking">My Bookings</a>
                </li>                    
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactIRCTC">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Logout</a>
                </li>
            </ul>
        </div>
>>>>>>> adf3578b5f08ff9e40c2911fbfc3c0805c84d68a
    </nav>