<!DOCTYPE html>
<html>
    <head>
        <title>IRCTC-Tourism</title>
        <link rel="icon" type="image/gif" href="/icons/IRCTC.gif" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/app.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">IRCTC-Tourism</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="/irctcTourism/search">Resthouses</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li id="theme"><a href="#"><span class="glyphicon glyphicon-text-background"></span>Theme</a></li>
                    <li><a href="/">Login</a></li>
                    <li><a href="/">Sign Up</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
