<div class="container">
    <form class="form-inline" action="/irctcTourism/search" method="POST">

        <div class="row">
            <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label class="sr-only" for="inputCity">City</label>
                        <input id="inputCity" class="form-control" type="text" size="50" placeholder="City" name="city" autocomplete="on" required="true">
                    </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label class="sr-only" for="inputCheckIn">Check In</label>
                            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" min="2018/04/28" name="checkIn"
                            id="inputCheckIn" placeholder="Check In" required="true">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label class="sr-only" for="inputCheckOut">Check Out</label>
                            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" id="inputCheckOut" name="checkOut"
                            placeholder="Check Out" required="true">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            
            <div class="col-lg-2 col-sm-12">
                <div class="form-group">
                    <label class="sr-only" for="inputGuests">Guests</label>
                    <input id="inputGuests" type="number" min="1" class="form-control" placeholder="No. of Guests" name="guest" required="true">
                </div>
            </div>
        </div>
                
        <div class="row">
            <div class="col-lg-12">
                <br>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>

        <div class="form-group">
            <label class="sr-only" for="inputCity">City</label>
            <input id="inputCity" class="form-control" type="text" size="50" placeholder="City" name="city" autocomplete="on" required="true">
           
        <div class="form-group">
            <label class="sr-only" for="inputCheckIn">Check In</label>
            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" min="2018/04/28" name="checkIn"
                id="inputCheckIn" placeholder="Check In" required="true">
        </div>
        <div class="form-group">
            <label class="sr-only" for="inputCheckOut">Check Out</label>
            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" id="inputCheckOut" name="checkOut"
                placeholder="Check Out" required="true">
        </div>
        <div class="form-group">
            <label class="sr-only" for="inputGuests">Guests</label>
            <input id="inputGuests" type="number" min="1" max="4" class="form-control" placeholder="No. of Guests" name="guest" required="true">
        </div>
        <!--div class="form-group">
            <label class="sr-only" for="inputGuests">Officer Class</label>
            <input id="inputGuests" type="number" min="1" max="6" class="form-control" placeholder="Officer Class" name="oclass" required="true">
        </div-->
        <button type="submit" class="btn btn-primary">Search</button>
>>>>>>> 3b0349cde5e0dffd4bc9e7906200ba486a645648
    </form>
</div>