<% include partials/header %>
 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To IRCTC!</h1>
             <p>View our hand-picked resthouses hubhubub from all over India</p>
             <p>
                <a class="btn btn-primary btn-large" href="/irctcTourism/new">Add New Resthouses</a>
                <a class="btn btn-primary btn-large" href="/irctcTourism/">Log in / Sign up</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% resthouses.forEach(function(resthouse){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= resthouse.image %>">
                   <div class="caption">
                       <h4><%= resthouse.name %></h4>
                   </div>
                   <p>
                       <a href="/irctcTourism/<%= resthouse._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>
