<% include partials/header %>
<<<<<<< HEAD

=======
>>>>>>> 457e3bbe708f005292113af4bff7fc7446436ed4
<div class="container">
    <form class="form-inline" action="/irctcTourism/search" method="POST">

        <div class="row">
            <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label class="sr-only" for="inputCity">City</label>
                        <input id="inputCity" class="form-control" type="text" size="50" placeholder="City" name="city" autocomplete="on">
                    </div>
            </div>
            
            <div class="col-lg-1"></div>
            
            <div class="col-lg-4 col-sm-12">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <div class="form-group">
                            <label class="sr-only" for="inputCheckIn">Check In</label>
                            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" min="2018/04/28" name="checkIn"
                            id="inputCheckIn" placeholder="Check In">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5 col-sm-6">
                        <div class="form-group">
                            <label class="sr-only" for="inputCheckOut">Check Out</label>
                            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" id="inputCheckOut" name="checkOut"
                            placeholder="Check Out">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            
            <div class="col-lg-2 col-sm-12">
                <div class="form-group">
                    <label class="sr-only" for="inputGuests">Guests</label>
                    <input id="inputGuests" type="number" min="1" max="4" class="form-control" placeholder="No. of Guests" name="guest">
                </div>
            </div>
        </div>
        </form>

        <div class="row">
            
            <div class="col-lg-12">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>

        </div>
        <div class="row">
            <br>
        </div>





 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1 class="display-4">Welcome To IRCTC!</h1>
             <p class="lead">We are here to provide you Railway's well maintained and equipped Rest houses and Holiday Homes.</p>
                     <hr class="my-4">
                     <p>Plan your holidays and Official visites on a click of a button.</p>
                     <p>
                        <!-- <a class="btn btn-primary btn-large" href="/irctcTourism/new">Add New Resthouses</a> -->
                        <a class="btn btn-primary btn-large" href="/login">Log in / Sign up</a>
                     </p>
                 </div>
     </header>
     <div class="container">
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% resthouses.forEach(function(resthouse){ %>
            <div class="col-md-3 col-sm-6 box">
                <div class="thumbnail">
                   <img src="<%= resthouse.image %>">
                   <div class="caption">
                       <h4><%= resthouse.name %></h4>
                   </div>
                   <p>
                       <a href="/irctcTourism/<%= resthouse._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>
