<h1> Home Page</h1>

<form name="findGH" action="" method="post">
City: <input type="text" name="city">
From: <input type="date" name="checkIn">
To: <input type="date" name="checkOut">
Class: <input type="text" name="oclass">
<input type="submit" value="Submit">
</form>