<% include partials/header %>
    <!-- Current Booking -->
   
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 id="para">Current Booking:</h2>
                    <div id="box" class="row">
                        <div class="col-lg-3">
                           
                        </div>

                        <div class="col-lg-6">
                            <h3 id="para">Jain Hostel</h3>
                            <p id="para">Address</p>
                            <div class="row">
                                <div class="col-lg-4">
                                    <h5 id="para">Check In:</h5>
                                    <p>Date</p>
                                </div>
                                <div class="col-lg-4">
                                    <h5 id="para">Check Out:</h5>
                                    <p>Date</p>
                                </div>
                                <div class="col-lg-4">
                                    <h5 id="para">Status:</h5>
                                    <p id="para">Confirmed</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <iframe height="100%" width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=19.8682711%2C75.3238631&key=AIzaSyBCByPN0VN6e4DmvN6BjlinGOuL5-MgpJk"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <% include partials/footer %>