<!DOCTYPE html>
<html>
<head>
	<title>SignUp</title>
	<!-- Bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<!-- Custom CSS file -->
	<link rel="stylesheet" type="text/css" href="css/signup.css">
	
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">IRCTC-Tourism</a>
	</nav>

	<!-- signup Form -->
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
			</div>

			<div class="col-lg-6">
				<h3 class="text-center">Sign Up</h3>
				<form class="" method="post" action="#">
					<div class="form-group">
						<label for="name" class="cols-sm-2">Name :</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name" required/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="cols-sm-2">Email :</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<!--input type="text" class="form-control" name="email" id="email"  title="Please provide only a Best Startup Ever corporate email address" placeholder="Enter your Email" required type="email" required />
								<label for="txtEmail"-->
                                      
                               <input name="txtEmail" id="txtEmail" class="form-control" placeholder="Enter Email"
                            required type="email" />
    <hr />

							</div>
						</div>
					</div>
				
				
					<div class="form-group">
						<h6 id="padding">Enter your post</h6>
						<div class="col-lg-2"></div>
						<select class="form-control">
				     		<option selected>Railway Employee</option>
							<option>Lok Sabha Member</option>
							<option>Rajya Sabha Member</option>
							<option>Retired Railway Employee</option>
							<option>Other</option>
						</select>
					</div>
				
				
					<div class="form-group">
						<label for="railwayID" class="cols-sm-2">Railway ID</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<input type="text" class="form-control" name="railwayID" id="railwayID"  placeholder="Enter your EmployeeID" required/>
							</div>
							<p>An OTP will be sent to your registered mobile No.</p>
						</div>
					</div>
					<div class="form-group">
						<label for="phone_no">Phone Number  (format: xxxxxxxxxx)</label>
						<input type="text" name="num" pattern="^\d{10}$" data-validation="number" mindata-validation-allowing="negative,number" input name="color" data-validation="number" datavalidation-ignore="$" size="10" maxlength="10" required="required" class="form-control" id="phone_no" placeholder="Phone Number"required>
					      <!--input type="submit" value="Submit"-->
					</div>
					
					
					<div class="form-group">
						<label for="password" class="cols-sm-2">Password</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" title="Password must contain: Minimum 8 characters atleast 1 Alphabet and 1 Number"
                                    required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="confirm" class="cols-sm-2">Confirm Password</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
							</div>
						</div>
					</div>
					<div class="form-group ">
					  <input type="submit" name="btnSignup" value="Sign up" id="btnSignup" class="btn btn-primary" />
						<!--a href="OTP.html" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Next</a-->
					</div>
				</form>
				<script type="text/javascript">
    window.onload = function () {
        var txtPassword = document.getElementById("txtPassword");
        var txtConfirmPassword = document.getElementById("txtConfirmPassword");
        txtPassword.onchange = ConfirmPassword;
        txtConfirmPassword.onkeyup = ConfirmPassword;
        function ConfirmPassword() {
            txtConfirmPassword.setCustomValidity("");
            if (txtPassword.value != txtConfirmPassword.value) {
                txtConfirmPassword.setCustomValidity("Passwords do not match.");
            }
        }
    }
</script>
 
			</div>

			<div class="col-lg-3">
			</div>
		</div>
	</div>



	<!-- Bootstrap js -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>