<!Doctype html>
<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<html>
<body>


<!--form-->
<div class="container">
   <div class="row">
        <div class="col-lg-3"></div>

		<div id="loginbox" class="col-lg-6">
			
			<h3 class="text-center"></h3>
			<br />
			<form class="" method="post" action="#">
				<div class="form-group">
					<label for="name" class="cols-sm-2"><b>Name :</b></label>
					<div class="cols-sm-10">
						<div class="input-group">
							<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name" required/>
						</div>
					</div>
				</div>
				<br>
				
				<div class="form-group">
					<label for="RailwayID" class="cols-sm-2"><b>RailwayID : </b></label>
					<div class="cols-sm-10">
						<div class="input-group">
							<input name="txRailwayID" id="txtRailwayId" class="form-control" placeholder="Enter ID"
							required  />
						</div>
					</div>
				</div>
				<h4 id="para" >Date: </h4>
						<div class="form-group">
							<div class="row">
								<div class="col-lg-6">
									<label for="Place" id="para"> <b>   From :</b></label>
									<input type="Date" class="form-control" id="Date" placeholder="Date">
								</div>
								<div class="col-lg-6">
									<label for="Place"><b>To :</b></label>
							        <input type="Date" class="form-control" id="Date" placeholder="Date">
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<button type="submit" class="btn btn-primary col-sm-3">Book</button>
							<div class="col-lg-8">
								<p><a href="" data-toggle="modal" data-target="#myModal"></a></p>
						    </div>
					     </div>
						
                        <div class="col-lg-4"></div>
                             </div>
                
			</form>
		</div>
		<div class="col-lg-3"></div>

			
   
    			
				</div>
				</div>
				</div>

				
<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog"-->
				
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-body">
						<div class="row">
							
							<div class="col-lg-1"></div>
							
							<div class="col-lg-10">
								<h3 class="text-center"><i class="fa fa-lock fa-4x"></i></h3>
								<h4>Confirm Booking</h4>
								
								<form class="form">
									<fieldset>
										
										
										<!--div class="form-group">
											<input class="btn btn-lg btn-primary btn-block" value="YES" type="submit">
											<input class="btn btn-lg btn-primary btn-block" value="NO" type="submit">
										</div-->
									</fieldset>
								</form>
							</div>
							
							<div class="col-lg-1"></div>
							
						</div>
					</div>
				</div>
			</div>
		</div-->								

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>								
</html>							
								