<% include partial/header %>
<!-- Jumbotron Welcome msg -->
<div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to IRCTC</h1>
                <p class="lead">We are here to provide you Railway's well maintained and equipped Rest houses and Holiday Homes.</p>
                <hr class="my-4">
                <p>Plan your holidays and Official visites on a click of a button.</p>
            </div>
        </div>
    
        <!-- Selection Box -->
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                </div>
    
                <div class="col-lg-10">
                    <div class="row">
                        <div id="box" class="col-lg-5">
                            <br>
                            <img src="/resthouse.jpg">
                            <br>
                            <br>
                            <h3 class="text-center"><a href="/resthouse">Rest House</a></h3>
                            <p id="para" class="text-center">For well being of Railway Employees while visiting for official reasons, Railway Ministry has build well equiped rest houses. You can stay here for any official reasons.</p>
                        </div>
                        <div class="col-lg-2">
                        </div>
    
                        <div id="box" class="col-lg-5">
                            <br>
                            <img src="/holidayhome.jpg">
                            <br>
                            <br>
                            <h3 class="text-center"><a href="holidayhome.html">Holiday Homes</a></h3>
                            <p id="para" class="text-center">For well being of Railway Employees while enjoying holidays with family, Railway Ministry has build well equiped Holiday homes. You will find a Railway Holiday home on every Hillstation, Tourist Place, Historical place, etc.</p>            
                        </div>
                    </div> 
                </div>
    
                <div class="col-lg-1">
                </div>
            </div>
        </div>
    
<% include partial/footer %>