/* CSS file for login and sign up pages */

.container{
    padding-top: 60px;
}

/* Login Image */
#image{
    width: 100%;
    height: 100%;
}

/* Admin Form */
#admin{
    padding-top: 80px; 
}

/* Modal */
}
.modal-content {
  /* 80% of window height */
  height: 60%;
  background-color:#BBD6EC;
}        
.modal-dialog {
        width: 360px;
        height:600px !important;
}
