<<<<<<< HEAD
/* CSS file for login and sign up pages */

.container{
    padding-top: 60px;
}

/* Login Image */
#image{
    width: 100%;
    height:100%;
}

/* Admin Form */
#admin{

    padding-top: 17%; 
}

/* Modal */
.modal-content {
  background-color: rgba(136, 136, 136, 0.8);
}        
.modal-dialog {
        width: 360px;
        height:600px;
}

/* Background-image */
body{
	background-image: url("lgbackground.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    background-size:cover;
    color: black;

}
small{
    color: black;
}

#navhead{
    font-weight: bold;
}

/* Login Box */
#loginbox{

    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
=======
/* CSS file for login and sign up pages */

.container{
    padding-top: 60px;
}

/* Login Image */
#image{
    width: 100%;
    height:100%;
}

/* Admin Form */
#admin{

    padding-top: 17%; 
}

/* Modal */
.modal-content {
  background-color: rgba(136, 136, 136, 0.8);
}        
.modal-dialog {
        width: 360px;
        height:600px;
}

/* Background-image */
body{
	background-image: url("lgbackground.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    background-size:cover;
    color: black;

}
small{
    color: black;
}

#navhead{
    font-weight: bold;
}

/* Login Box */
#loginbox{

    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
>>>>>>> c3ad590144341987fe0c3a7290ffa5710c869440
}