/* CSS file for login and sign up pages */

.container{
    padding-top: 60px;
}

/* Login Image */
#image{
    width: 100%;
    height: 100%;
}

/* Admin Form */
#admin{
    padding-top: 80px; 
}

/* Modal */
.modal-content {
  background-color: gray;
}        
.modal-dialog {
        width: 360px;
        height:600px;
}

/* Background-image */
body{
	background-image: url(../img/background.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    background-size:cover
}